body {
  font-family: Cerebri Sans, Helvetica, Arial, sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}
.weather-app-wrapper {
  max-width: 650px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid;
  border-radius: 10px;
}
