body {
  font-family: Cerebri Sans, Helvetica, Arial, sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}
.weather-app-wrapper {
  max-width: 650px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid;
  border-radius: 10px;
  margin-bottom: 10px;
}

.weather-temperature .value {
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-icon {
  height: 100px;
  width: 100px;
}

.weather-temperature .active {
  color: black;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}
